

@import url(navi.css);
@import url(forms.css);
@import url(homepage.css);
@import url(gallery.css);
@import url(featured_slide.css);

body{
    margin:0;
    padding:0;
	font-size:16px;
	font-family:Helvetica, "Times New Roman", Times, serif;
	color:#F8F8F2;
	background:url("../images/featured_slide_bg.gif") top left repeat-x ;
	bbackground-color:#03274B;
	}

img{margin:0; padding:0; border:none;}
.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:inline-block;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

img:hover{}

.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D7DBE0;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

.bigbutton {
    width: 300px;
    height: 50px;
    background: none repeat scroll 0% 0% rgb(62, 156, 191);
    padding: 8px 14px 10px;
    border: 1px solid rgb(62, 156, 191);
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    font-family: helvetica;
	font-size:27px;
    letter-spacing: 0.08em;
    line-height: 1em;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 0px rgb(62, 156, 191) inset, 0px 5px 0px 0px rgb(32, 92, 115), 0px 10px 5px rgb(153, 153, 153);
    border-radius: 10px 10px 10px 10px;
}
.bigbutton:hover {
    color: rgb(223, 231, 234);
    box-shadow: 0px 1px 0px rgb(62, 156, 191) inset, 0px 2px 0px 0px rgb(32, 92, 115), 0px 2px 5px rgb(153, 153, 153);
}
/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{
	display:block;
	width:100%;
	text-align:left;
	}

div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:24px;
	font-weight:normal;
	line-height:normal;
	}

.row1{color:#5F8EC2; background-image:url("../images/Bannernew.jpg") ;
background-repeat:no-repeat;
height:165px; width:100%;
background-position:center center;
 
}
.row1 a{color:#F8F9F3; background-color:#03274B;}
.row2{color:#F8F9F3; background-color:#072C53; border-top:1px solid #2B4D71; border-bottom:1px solid #2B4D71;}
.row3{color:#777777; background:url("../images/featured_slide_bg.gif") top left repeat-x #F8F9F3;}
.row4{color:#777777; background-color:#F8F9F3; border-bottom:2px solid #03274B;}
.row5{padding:50px 0 30px 0; border-top:1px solid #F8F9F3;}

/* ----------------------------------------------Generalise------------------------------*/

#header, #featured_slide, #container, #footer, #copyright{
	position:relative;
	margin:0 auto 0;
	display:block;
	width:960px;
	}

/* ----------------------------------------------Header-------------------------------------*/

#header{
	padding:25px 0 30px 0;
	}

#header h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header h1{font-size:36px; font-variant:small-caps;}
#header p{margin-top:4px;}

/* ----------------------------------------------Content-------------------------------------*/

.committee_box
{
	width:auto;
	height:auto;
	-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;-o-border-radius: 20px;
		-webkit-box-shadow: #B3B3B3 8px 8px 8px;-moz-box-shadow: #B3B3B3 8px 8px 8px; -o-box-shadow: #B3B3B3 8px 8px 8px; 
	background:rgba(50,168,227,0.6);

	box-shadow: #B3B3B3 8px 8px 8px;
	overflow:hidden;
	position:relative;
}

.table1 tr:hover {

background:#32a8e3 ;
	width:auto;
	height:auto;
		-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;-o-border-radius: 20px;
			background:rgba(50,168,227,0.6);
	overflow:hidden;
	
		}

.committee_text
{
	width: 70%;
	margin:10px 10px 10px 10px;
	border:0px;
	padding:20px 20px 20px 20px;
}


#container{
	padding:30px 0;
	}

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6{
	color:#8199A9;
	background-color:#F8F9F3;
	}

#container a{
	color:#591F58;
	background-color:#F8F9F3;
	}

#container .title{
	display:block;
	width:100%;
	margin:0 0 20px 0;
	padding:0 0 8px 0;
	font-size:20px;
	text-transform:uppercase;
	border-bottom:5px solid #8199A9;
	}

#content{
	display:block;
	float:left;
	width:630px;
	}

/* ------Comments-----*/

#comments{margin-bottom:40px;}

#comments .commentlist{margin:0; padding:0;}

#comments .commentlist ul{margin:0; padding:0; list-style:none;}

#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even{margin:0 0 10px 0; padding:15px; list-style:none;}

#comments .commentlist li.comment_odd{color:#666666; background-color:#F7F7F7;}
#comments .commentlist li.comment_odd a{color:#591F58; background-color:#F7F7F7;}

#comments .commentlist li.comment_even{color:#666666; background-color:#E8E8E8;}
#comments .commentlist li.comment_even a{color:#591F58; background-color:#E8E8E8;}

#comments .commentlist .author .name{font-weight:bold;}
#comments .commentlist .submitdate{font-size:smaller;}

#comments .commentlist p{margin:10px 5px 10px 0; padding:0; font-weight:normal; text-transform:none;}

#comments .commentlist li .avatar{float:right; border:1px solid #EEEEEE; margin:0 0 0 10px;}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:right;
	width:300px;
	}

#column .holder, #column #featured{
	display:block;
	width:300px;
	margin-bottom:20px;
	}

#column .holder h2.title{
	display:block;
	width:100%;
	height:65px;
	margin:0;
	padding:15px 0 0 0;
	font-size:20px;
	text-transform:none;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#column .holder h2.title img{
	float:left;
	margin:-15px 8px 0 0;
	padding:5px;
	border:1px solid #999999;
	}

#column div.imgholder{
	display:block;
	width:290px;
	margin:0 0 10px 0;
	}

#column .holder p.readmore{
	display:block;
	width:100%;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	}

/* Featured Block */

#column #featured ul, #column #featured h2, #column #featured p{
	margin:0;
	padding:0;
	list-style:none;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured a{
	color:#591F58;
	background-color:#F7F7F7;
	}

#column #featured li{
	display:block;
	width:250px;
	margin:0;
	padding:20px 25px;
	color:#666666;
	background-color:#F7F7F7;
	}

#column #featured li p.imgholder{
	display:block;
	width:240px;
	height:90px;
	margin:20px 0 15px 0;
	}

#column #featured li h2{
	margin:0;
	padding:0 0 8px 0;
	font-weight:normal;
	font-family:Georgia, "Times New Roman", Times, serif;
	line-height:normal;
	border-bottom:1px dotted #999999;
	}

#container #column .readmore a{
	display:block;
	width:100%;
	margin-top:15px;
	height:auto;
	padding-left:0;
	font-weight:bold;
	text-align:right;
	line-height:normal;
	background:none;
	}

#column .latestnews{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
	}

#column .latestnews li{
	display:block;
	width:100%;
	height:99px;
	margin:0 0 11px 0;
	padding:0 0 21px 0;
	border-bottom:1px dotted #C7C5C8;
	overflow:hidden;
	}

#column .latestnews li.last{
	margin-bottom:0;
	}

#column .latestnews p{
	display:inline;
	}

#column .latestnews img{
	float:left;
	margin:0 10px 0 0;
	padding:4px;
	border:1px solid #C7C5C8;
	clear:left;
	}

/* ----------------------------------------------Footer-------------------------------------*/

#footer{
	line-height:2em;
	width:100%;
	background:url("../images/footer_bg.gif") 380px 0 repeat-y;
	}

#footer, #footer a{
	color:#F8F8F2;
	background-color:#03274B;
	}

/* ----------------------------------------------Copyright-------------------------------------*/

#copyright{
	width:100%;
	padding:15px 0;
	border-top:1px solid #2B4D71;
	}

#copyright p{
	margin:0;
	padding:0;
	}

#copyright, #copyright a{
	color:#7F99A9;
	background-color:#03274B;
	}
