<md-content layout="row" layout-padding style="width: 100%" layout-align="center">

	<div flex=95 flex-gt-sm=80 layout='column' layout-align="center" style="display: block;">
		<h1 class="title md-display-2">Committees</h1>

		<div ng-repeat="c in committees" class="committee">
			<md-toolbar style = "background: rgba(87, 60, 146, 0.87)">
			<md-toolbar-tools>
			</md-toolbar-tools>
			<h3 layout-padding style="color:white !important; font-weight: bold;">{{c.title}}</h3>
			</md-toolbar>
			<div class="md-whiteframe-z1" layout-gt-sm=row layout=column layout-padding>
			<div flex=30 >
				<img ng-src="images/{{c.image}}" style="width:100%">
			</div>
			<div flex=70 class="md-body-2">
			<div  style="white-space: pre-wrap;">{{c.content}}</div>
			<h4>Agendas:</h4>
			<ul>
					<li ng-repeat="agenda in c.agendas">
						{{agenda}}
					</li>
				</ul></div>
			</div>
		</div>

	</div>
</div>