<md-content layout="row" layout-padding style="width: 100%" layout-align="center">

	<div flex=95 flex-gt-sm=80 layout='column' layout-align="center" style="display: block;">
		<h1 class="title md-display-2">Executive Board</h1>

		<div ng-repeat="c in committees" class="committee">
			<md-toolbar style = "background: rgba(87, 60, 146, 0.87)">
			<md-toolbar-tools>
			</md-toolbar-tools>
			<h3 layout-padding style="color:white !important; font-weight: bold;">{{c.title}}</h3>
			</md-toolbar>
			<div class="md-whiteframe-z1" layout-gt-sm=row layout=column layout-padding>
			<md-card flex=95 flex-gt-sm=30 ng-repeat="p in c.eb" style="min-height: 20vh" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="c in contact">
		        <md-card-title>
		            <md-card-title-text>
		                <span class="md-headline">{{p.name}}</span>
		                <span class="md-subhead">{{p.position || "Unknown"}}</span>
		            </md-card-title-text>
		            <md-card-title-media>
            		<div class="md-media-sm card-media"><img ng-src="{{p.image}}"></div>
          			</md-card-title-media>
		        </md-card-title>
    		</md-card>
			</div>
			</div>
		</div>

	</div>
</div>