<div id="fullpage" style="position: absolute !important;">
            <div class="section " id="section0" flex>
            <div id="bg-section0">
            </div>
            <div id="content-section0">
                <h1 id="mun_title" style="width: 100%">IIIT-H MUN 2017</h1>
                <div class="clock fadeInLeft" style="width:auto;display: inline-block;zoom:0.5"></div>
                <br>
                <md-button ng-click="openForm()" class="md-raised md-accent">Register Now</md-button>
                <br>
                <br>
                <br>
                <svg class="animated infinite bounce" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><polygon stroke="white" points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/></svg>
            </div>
            </div>
            <div class="section" id="section1">
                <div ng-bind-html="renderHtml(letter)" class="box" layout-padding>
                </div>
            </div>
            <div class="section" id="section2" layout='column'>
                <h1 class="md-display-3">Secretariat</h1>
                <md-content style= "background: none" flex layout-padding layout-align="center center">
                <md-grid-list md-cols-lg="4" md-cols-gt-lg="5" md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-row-height-gt-md="2:1" md-row-height-md="3:2" md-row-height="3:2" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px">
            <md-grid-tile ng-repeat="sec in secretariat" style="background:red;">
                <md-card layout-fill>
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">{{sec.name}}</span>
                        <span class="md-subhead">{{sec.position}}</span>
                      </md-card-title-text>
                      <md-card-content>
                      <md-card-avatar>
                        <img ng-src="images/MUN_SHOOT/{{sec.image}}.jpg" class="md-user-avatar" alt="image caption" style="width:70px; height: auto    ">
                      </md-card-avatar>
                      </md-card-content>
                      
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button>Facebook</md-button>
                      <md-button>Phone</md-button>
                    </md-card-actions>
                  </md-card>
            </md-grid-tile>
        </md-grid-list>
        </md-content>
            </div>
            <div class="section" id="section3">
                <h1>Partners</h1>
            </div>
        </div> 
