<div full-page options="mainOptions">
    <div class="section" id="section0">
        <h1 id="mun_title" style="width: 100%">IIIT-H MUN 2017</h1>
        <div class="clock fadeInLeft" style="width:auto;display: inline-block;zoom:0.5"></div>
        <br/>
        <md-menu>
            <md-button  md-menu-origin ng-click="$mdOpenMenu()" class="md-raised md-accent">Register Now</md-button>
            <md-menu-content width="1">
                <md-menu-item ng-repeat="a in applications">
                    <md-button ng-click="openForm(a.link)">{{a.name}}</md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <br/>
        <svg class="animated infinite bounce" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect fill="none" height="50" width="50"/>
            <polygon stroke="white" points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/>
        </svg>
    </div>
    <div class="section" id="section1">
        <div style="width: 100%" layout="row" layout-align="center">
            <div ng-bind-html="renderHtml(letter)" class="box bounceInUp" layout-padding flex="100" flex-gt-sm="80">
            </div>
        </div>
    </div>
    <div class="section fp-auto-height-responsive" id="section2" layout='column'>
        <h1 style="display: block; position: absolute; width: 100%; text-align: center" class="md-display-2">Secretariat</h1>
        <div class="slide" ng-repeat="i in range(0,secretariat.length-1,fit)">
            <div layout="row" layout-align="center center">
                <div class="sec-box" ng-repeat="j in range(i,i+fit-1)" >
                    <md-card ng-if="secretariat[j]" class="secretariat" style="background:
                    linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 0.6)
                    ),url('images/MUN_SHOOT/{{secretariat[j].image}}');" >
                    <div class="sec-pic">
                    </div>
                    <md-card-title>
                    <md-card-title-text layout-align="center center" >
                    <span class="md-headline">{{secretariat[j].name}}</span>
                    <span class="md-subhead">{{secretariat[j].position}}</span>
                    </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                    <md-button>
                    <i class="fa fa-facebook fa-4" aria-hidden="true"></i>
                    </md-button>
                    <md-button>
                    <i class="fa fa-phone fa-4" aria-hidden="true"></i>
                    </md-button>
                    </md-card-actions>
                    </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <h1 style="width: 100%; text-align: center" class="md-display-2">Partners</h1>
        <div flex layout-align="center" layout=row>
            <div flex="80" flex-sm="100" layout=row layout-padding>
                <div ng-repeat="sponsor in sponsors" flex style="background-image: url(images/{{sponsor.image}}); background-size: contain;background-repeat: no-repeat;background-position: center;">
                    <div style="height: 400px">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>