<md-content layout="row" layout-padding style="width: 100%" layout-align="center">

    <div flex=95 flex-gt-sm=80 layout='column' layout-align="center" style="display: block;">
        <h1 class="title md-display-2">Schedule and Resources</h1>
<div style="width: 100%" layout="row" layout-align="center">
    <div class="md-whiteframe-z1" layout-padding flex=100 flex-gt-sm=80>
    <p class="md-body-2" style="text-align: center;font-size: 20px">
    <a class="md-button md-raised" href="images/handbook.pdf">
    Handbook</a>
    <a class="md-button md-raised" href="images/tac.pdf">
    Terms and Conditions</a>
</p>
<br>
    <table class="eventslist" ng-repeat = "s in schedule" style="padding:0 !important">
        <tbody>
                <tr class="timeline" ng-repeat="e in s.events">
                        <td class="day" ng-if="$first">
                            {{s.day}}
                        </td>
                        <td class="day repeat-day hidden" ng-if="!$first"></td>
                        <td>
                            {{e.time}}
                        </td>
                        
                    <td class="event-container" >
                        <a href="" class="event md-whiteframe-z2" style="text-decoration: none" md-colors="{background: 'accent-500'}">
                            <div class="circle"><div class="innercircle"></div></div>
                            <span>{{e.event}}</span><br/>
                        </a>
                    </td>
                </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
</md-content>