<h1 class="title" style="font-size:32px;text-transform:none;text-align:center;">Schedule</h2>
<div style="width: 100%" layout="row" layout-align="center">
    <div>
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch ng-repeat="s in schedule">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline" style="text-align:center;font-size:22px;">{{s.day}}</span>
                        <span class="" style="text-align:center;" ng-repeat="e in s.events">
                            {{e}}<br>
                            <span ng-if="!$last">|</span>
                        </span>
                    </md-card-title-text>
                </md-card-title>
        </md-card>
    </div>
</div>
